#header_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_1{
    text-decoration: none;
    color: rgb(43, 37, 37);
    font-weight: 700;
    font-size : 28px;
}

#logo_2{
    font-size : 26px;
}

#logo_3{
    color : rgb(34, 31, 31)
}