<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
	
	<sql id="memberSelect">
		SELECT
		       USER_NO
		     , USER_ID
		     , USER_NAME
		     , ENROLL_DATE
		     , MODIFY_DATE
		     , STATUS
		  FROM
		       RE_MEMBER
	</sql>	
	
	<select id="selectMember" resultType="member" parameterType="Long">
		<include refid="memberSelect"/>
		 WHERE
		       USER_NO = #{userNo}
		   AND
		       STATUS = 'N'
	</select>
	
	
	
	<select id="availableMember" resultType="member">
		<include refid="memberSelect"/>
		 WHERE
		       USER_ID = #{userId}
	</select>
	
	<select id="login" resultType="member">
		<include refid="memberSelect"/>
		 WHERE
		       USER_ID = #{userId}
		   AND
		       USER_PWD = #{userPwd}
		   AND
		       STATUS = 'N'    
	</select>
  	
  	<insert id="createMember">
  		INSERT
  		  INTO
  		       RE_MEMBER
  		       (
  		       USER_ID
  		     , USER_PWD
  		     , USER_NAME
  		       )
  		VALUES
  		       (
  		       #{userId}
  		     , #{userPwd}
  		     , #{userName}
  		       )    
  	</insert>
  	
  	<update id="updateMember">
  		UPDATE
  		       RE_MEMBER
  		   SET
  		       USER_NAME = #{userName}
  		     , MODIFY_DATE = SYSDATE
  		 WHERE
  		       USER_NO = #{userNo}
  		   AND
  		       STATUS = 'N'
  	</update>
  	
  	<update id="updatePwd" parameterType="com.re.member.model.dto.PasswordDto">
  		UPDATE
  		       RE_MEMBER
  		   SET
  		       USER_PWD = #{newPwd}
  		     , MODIFY_DATE = SYSDATE
  		 WHERE
  		       USER_NO = #{userNo}
  		   AND
  		       USER_PWD = #{currPwd}
  		   AND
  		       STATUS = 'N'
  	</update>
  	
  	
  </mapper>