#header_3 {
    display : flex;
    align-items: center;
    justify-content: center;
}

#util {
		display : flex;
}

#util > form > button {
    background-color: white;
    color: rgb(34, 34, 34);
    border : none;
    outline: none;
    border-right : 1px solid rgb(221, 221, 221);
    text-decoration: none;
    padding : 0px 3px;
    font-size: 11px;
    &:hover {
        font-size: 13px;
        font-weight: 700;
    }
}

#util > form:last-child > button {
    border-right: none;
}